<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Respirateurs de fortune « MUR »</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
      .container {
        max-width: 45rem;
      }
      .notification.is-danger {
        margin: 1rem 0;
      }
      .notification.is-danger.is-light {
          background-color: #feecf0;
          color: #cc0f35;
      }
      .notification.is-info.is-light {
        background-color: #eef6fc;
        color: #1d72aa;
      }
      summary {
        display: block;
      }
      form {
        margin: 2rem 0;
      }

    </style>
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            MUR / Minimal Universal Respirator
          </h1>
          <h2 class="subtitle">
            Un respirateur de fortune, c’est mieux que pas de respirateur du tout !
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container content">
        <div class="notification is-success">
          <p>
            Vous êtes bien identifié avec l’adresse de courriel « <strong>foo@bar.fr</strong> »
          </p>
        </div>
        <h1 class="title">PROPOSITION D’AIDE</h1>
        <div class="notification is-info is-light">
          <p>
            <strong>Vous êtes sur le point de saisir des informations qui nous permettront de vous mettre en relation avec des personnes pertinentes pour co-créer des respirateurs.</strong>
          </p>
        </div>
        <div>
          <form id="form" method="post">

            <fieldset disabled>

            <div class="field">
              <label class="label" for="email">Courriel</label>
              <div class="control has-icons-left">
                <input class="input" id="email" name="email" type="email" value="foo@bar.fr"  required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            </fieldset>

            <div class="field">
              <label class="label" for="name">Nom</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name" required>
              </div>
            </div>

            <div class="field">
              <label class="label" for="city">Ville</label>
              <div class="control">
                <input class="input" type="text" id="city" name="city">
              </div>
            </div>

            <div class="field">
              <label class="label" for="postal">Code postal</label>
              <div class="control">
                <input class="input" type="text" id="postal" name="postal" pattern="[0-9][0-9AB][0-9]{3}" required>
              </div>
            </div>

            <div class="field">
              <label class="label" for="skills">Compétences</label>
              <p class="help">Designer ? Infirmière ? Logisticien ? Médecin ? …</p>
              <div class="control">
                <textarea class="textarea" id="skills" name="skills" required></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label" for="specialties">Spécialités</label>
              <p class="help">3D Modeling ? UX Design ? …</p>
              <div class="control">
                <textarea class="textarea" id="specialties" name="specialties" required></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label" for="contact">Moyens et adresses de communication</label>
              <p class="help">Discord ? Telegram ? …</p>
              <div class="control">
                <textarea class="textarea" id="contact" name="contact" required></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label" for="project">Projet et en cours et avancement</label>
              <p class="help">Protection individuelle ? Respirateur ? …</p>
              <div class="control">
                <textarea class="textarea" id="project" name="project" required></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label" for="tools">Outils</label>
              <p class="help">N’hésitez pas à détailler le type, la référence, le constructeur, la quantité, …</p>
              <div class="control">
                <textarea class="textarea" id="tools" name="tools" required></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label" for="hardware">Hardware</label>
              <p class="help">N’hésitez pas à détailler le type, la référence, le constructeur, la quantité, …</p>
              <div class="control">
                <textarea class="textarea" id="hardware" name="hardware" required></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Envoyer</button>
              </div>
              <div class="control">
                <button class="button is-link is-light">Annuler</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Contenu sous licence <a href="">**** A PRECISER ****</a><br>
          <a href="cgu.html">Conditions Générales d’Utilisation / RGPD / Mentions Légales</a><br>
          Nous contacter: contact (at) mur-project (point) org
        </p>
      </div>
    </footer>
  </body>
</html>
